
@{
    ViewBag.Title = "User Dashboard";
}

<h2>User Dashboard</h2>
@Html.ActionLink("Edit Profile", "EditProfile")
<br />
@Html.ActionLink("Search Movies", "SearchMovies")
<br />
@Html.ActionLink("See New On DVD Movies", "DVD")
<br />
@Html.ActionLink("See New In Theaters", "InTheaters")
<br />
@Html.ActionLink("Get Recommendations", "Recommend")
<br />
@Html.ActionLink("See my Ratings", "MyRatings")




